/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */
 
html {
	font-size: 16px;
}
 
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
 
ul, 
ol {
    list-style-type: none;
}
 
a {
    color: #e2e3ed;
    text-decoration: none;
}
 
h2 {
    color: #e2e3ed;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
}
 
h3, 
h4 {
    color: #e2e3ed;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
}
 
p {
	
}
 
img {
 
}
 
figure {
 
}
 
address {
    font-style: normal;
}
 
.content-wrapper {
    width: 100%;
}


/*****FORM STYLES*****/
aside .form {
    margin-top: 30px;
}
   
input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
}

input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
}


/*****HEADER CSS*****/
header {
    background-color: #000000;
    padding: 15px 0;
}

header,
footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

.header-divider {
    width: 100%;
}

header nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60%;
}

header nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}


/*****MAIN CSS*****/
main h1 {
    color: #e2e3ed;
    padding: 20px;
}

.hero-area {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aside {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about {
    background-color: #527158;
}

.contact-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.faq {
    align-items: center;
    background-color: #527158;
    display: flex;
    justify-content: center;
}

.faq .content {
    display: flex;
    flex-flow: row wrap;
}

.faq .content-wrapper {
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.features {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.features article {
    width: 55%;
}

.features .features-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.features p {
    color: #e1e2ea;
    margin: 0;
}

.reviews {
    align-items: center;
    background-color: #527158;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.reviews h3 {
    width: 90%;
}

#sign-up-area {
    background-color: ;
}

#sign-up-area .form-description {
    color: #e2e3ed;
    margin: 20px;
}

.mission {
    align-items: center;
    display: flex;
    justify-content: center;
}



/*****FOOTER CSS*****/
footer {
    background-color: #000000;
}

footer .content-wrapper {
    width: 55%;
    margin: 50px, 0;
}

footer .social {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer p {
    color: #ffffff;
    margin: 0;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /*Tablet styles here*/

    /* General styles */
    .content-wrapper {
        max-width: 640px;
        margin: 100px 0;
    }
 
    /* Header */
 
    header {
        justify-content: center;
    }
 
    header .content-wrapper {
        justify-content: center;
        width: 85%;
    }
 
    header nav {
        width: 30%;
    }
 
    header nav ul {
        justify-content: center;
    }
 
    .header-divider {
        display: none;
    }
 
    /* Hero Area */
 
    /* Aside */
    aside .content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; 
        margin: 50px 0;
    }
 
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {   
        margin: 0;     
        width: 40%;
    }
 
    /* Features */
 
    .features article {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
 
    .features .features-item-description {
        width: 40%;
    }
 
    /* Reviews */
    .reviews article {
        display: flex;
        justify-content: center;
    }
    
    .reviews article div {
        width:         
    }
 
    /* Footer */
    footer .content-wrapper {
        width: 65%;
        margin: 100px 0;
    }
    
    .footer-content {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
 
    footer .contact {
        margin-bottom: 0;
    }
 
    footer .copyright {
        width: 25%;
    }

    /* ==========================================================================
    About Page
    ========================================================================== */
    
    .mission-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mission-content p {
        width: 40%;
    }

    .contact-section,
    .content-wrapper h2 {
        width: 100%;
    }

    .contact-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    /* ==========================================================================
   FAQ Page
   ========================================================================== */
    .faq .content-wrapper {
        justify-content: space-between;
    }
    
    .faq-content {
        flex-basis: 40%;
    }
 
    .faq h2 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {  
/*Desktop styles here */  
    .content-wrapper {
            max-width: 960px;
    }
    
        /* Hero */
    .hero-area h1 {
        width: 100%;
    }
    
    /* Aside */
    aside .content-wrapper {
        justify-content: space-evenly;
    }
    
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
        width: 25%;
    }
    
    /* Features */
    .features h2 {
        width: 80%;
    }
    
    .features article {
        flex-basis: auto;
    }
    
    /* Reviews */ 
    .reviews article div {
        width: 80%;
    }
    
/* ==========================================================================
    About Page
    ========================================================================== */
    .mission h2,
    .contact-section .content-wrapper h2 {
        width: 75%;
    }
    
    .contact-section .content-wrapper h2 {
        margin-bottom: 50%;
    }
    
    
/* ==========================================================================
    FAQ Page
    ========================================================================== */
    .faq h2 {
        width: 100%;
    }
    
    .faq-content {
        flex-basis: 30%;
    }
    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
